## Data Manipulation and Analysis with Pandas
Data Manipulation and analysis are key task in any data science or data analysis project. Pandas provide a wide range of functions for data manipulation and analysis making it easier to clean, transform, and extract insight from data. In this lesson , we will cover various data manipulation and analysis technique using pandas

In [2]:
import pandas as pd
df=pd.read_csv("data.csv")
df.head(5)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [4]:
df.dtypes

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [ ]:
#Handling Missing data

df.isnull() # will give me true whereever there is false
#In pandas, df.isnull().any(axis=1) returns row-wise information because axis=1
df.isnull().any(axis=1) # will give row which will have true
df.isnull().any() # will give row which will have true

Date        False
Category    False
Value        True
Product     False
Sales        True
Region      False
dtype: bool

In [8]:
df.isnull() # will give me true whereever there is false
#In pandas, df.isnull().any(axis=1) returns row-wise information because axis=1
df.isnull().sum(axis=1) # will give row which will have true
df.isnull().sum() # will give row which will have true

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [ ]:
df.