### SQL VS SQLLITE
SQL (Structured Query Language) is the standard language used to manage and interact with relational databases using commands like SELECT, INSERT, and UPDATE.

SQLite is a self-contained, serverless, and zero-configuration database engine that uses SQL syntax.

It stores the entire database in a single file and is ideal for mobile apps, testing, and lightweight applications.
While SQL is the language, SQLite is one of the systems that uses it.

#### Connect to SQL LITE database

In [20]:
import sqlite3
connection=sqlite3.Connection("example.db")

### Creating cusor to create and insert data to table

In [21]:
cursor=connection.cursor()
# This creates DB file locally check 5 SQL lite folder


#### Create a Table

In [22]:

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

connection.commit()

#### Inserting data

In [23]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Krish',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commi the changes
connection.commit()

#### Query the data from the table

In [24]:

cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

#### Update the data in the table

In [25]:

cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"
''')

connection.commit()

In [26]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

#### Delete the data from the table

In [27]:

cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [28]:

## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

#### Working with sales data

In [ ]:

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

## Executing many records at once
## executemany -----> runs for all the records in sales data

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [30]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

#### close the connection

In [31]:
connection.close()

In [32]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)
## Error bcoz connection is closed

ProgrammingError: Cannot operate on a closed database.